<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Update Student</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>-->
</head>

<body>
<div id="wrap" align="center">
    <div id="top_content">
        <div id="header">
            <div id="rightheader">
                <div id="topheader">
                    <h1 id="title">
                        <a href="#">学生修改</a>
                    </h1>
                </div>
            </div>
        </div>
        <div id="content">
            <p id="whereami">
            </p>
            <h1>
                请修改学生信息:
            </h1>
            <form th:action="@{/student/update}" method="post">
                <table cellpadding="0" cellspacing="0" border="0"
                       class="form_table">
                    <tr>
                        <td valign="middle" align="right">
                            学号:
                        </td>
                        <td valign="middle" align="left">
                            <span th:text="${student.studentId}"></span>
                            <input type="hidden" th:value="${student.studentId}" name="studentId">
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="right">
                            姓名:
                        </td>
                        <td valign="middle" align="left">
                            <input type="text" class="inputgri" name="name" th:value="${student.name}"/>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="right">
                            性别:
                        </td>
                        <td valign="middle" align="left">
                            <input type="text" class="inputgri" name="sex" th:value="${student.sex}"/>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="right">
                            班级:
                        </td>
                        <td valign="middle" align="left">
                            <input type="text" class="inputgri" name="studentClass" th:value="${student.studentClass}"/>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="right">
                            学院:
                        </td>
                        <td valign="middle" align="left">
                            <input type="text" class="inputgri" name="college" th:value="${student.college}"/>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="right">
                            校区:
                        </td>
                        <td valign="middle" align="left">
                            <input type="text" class="inputgri" name="campus" th:value="${student.campus}"/>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="right">
                            公寓号:
                        </td>
                        <td valign="middle" align="left">
<!--                            <input type="text" class="inputgri" name="departmentNumber" th:value="${student.departmentNumber}"/>-->
                            <select name="departmentId">
                                <option value="">-- 公寓号 --</option>
                                <option th:selected="${student.departmentId==3}" value=3>3号楼</option>
                                <option th:selected="${student.departmentId==7}" value=7>7号楼</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="right">
                            寝室号:
                        </td>
                        <td valign="middle" align="left">
<!--                            <input type="text" class="inputgri" name="dormitoryNumber" th:value="${student.dormitoryId}"/>-->
                            <select name="dormitoryId">
                                <option value="">-- 寝室号 --</option>
                                <option th:selected="${student.dormitoryId==1}" value=1>3号楼123</option>
                                <option th:selected="${student.dormitoryId==2}" value=2>3号楼317</option>
                                <option th:selected="${student.dormitoryId==3}" value=3>3号楼318</option>
                                <option th:selected="${student.dormitoryId==4}" value=4>3号楼319</option>
                                <option th:selected="${student.dormitoryId==5}" value=5>3号楼320</option>
                                <option th:selected="${student.dormitoryId==6}" value=6>7号楼320</option>
                                <option th:selected="${student.dormitoryId==7}" value=7>7号楼321</option>
                                <option th:selected="${student.dormitoryId==8}" value=8>7号楼422</option>
                                <option th:selected="${student.dormitoryId==9}" value=9>7号楼622</option>
                                <option th:selected="${student.dormitoryId==10}" value=10>7号楼623</option>
                                <option th:selected="${student.dormitoryId==11}" value=11>7号楼624</option>
                                <option th:selected="${student.dormitoryId==12}" value=12>7号楼625</option>
                                <option th:selected="${student.dormitoryId==13}" value=13>7号楼626</option>
                                <option th:selected="${student.dormitoryId==14}" value=14>7号楼627</option>
                                <option th:selected="${student.dormitoryId==15}" value=15>7号楼628</option>
                                <option th:selected="${student.dormitoryId==16}" value=16>7号楼629</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="right">
                            床位号:
                        </td>
                        <td valign="middle" align="left">
<!--                            <input type="text" class="inputgri" name="bedNumber" th:value="${student.bedNumber}"/>-->
                            <select name="bedNumber">
                                <option value="">-- 床位号 --</option>
                                <option th:selected="${student.bedNumber==1}" value=1>1号床</option>
                                <option th:selected="${student.bedNumber==2}" value=2>2号床</option>
                                <option th:selected="${student.bedNumber==3}" value=3>3号床</option>
                                <option th:selected="${student.bedNumber==4}" value=4>4号床</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="right">
                            电话号码:
                        </td>
                        <td valign="middle" align="left">
                            <input type="text" class="inputgri" name="telephoneNumber" th:value="${student.telephoneNumber}"/>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="right">
                            邮箱:
                        </td>
                        <td valign="middle" align="left">
                            <input type="text" class="inputgri" name="email" th:value="${student.email}"/>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="right">
                            入住日期:
                        </td>
                        <td valign="middle" align="left">
                            <input type="text" class="inputgri" name="checkInDate" th:value="${#dates.format(student.checkInDate,'yyyy-MM-dd')}"/>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="right">
                            入住状态:
                        </td>
                        <td valign="middle" align="left">
<!--                            <input type="text" class="inputgri" name="bedStatus" th:value="${student.bedStatus}"/>-->
                            <select name="bedStatus">
                                <option value="">-- 入住状态 --</option>
                                <option th:selected="${student.bedStatus==0}" value=0>退宿</option>
                                <option th:selected="${student.bedStatus==1}" value=1>入住</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="right">
                            学籍状态:
                        </td>
                        <td valign="middle" align="left">
<!--                            <input type="text" class="inputgri" name="stuStatus" th:value="${student.stuStatus}"/>-->
                            <select name="stuStatus">
                                <option value="">-- 学籍状态 --</option>
                                <option th:selected="${student.stuStatus==0}" value=0>不在籍</option>
                                <option th:selected="${student.stuStatus==1}" value=1>在籍</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="right">
                            登记时间:
                        </td>
                        <td valign="middle" align="left">
                            <input type="text" class="inputgri" name="recordTime" th:value="${#dates.format(student.recordTime,'yyyy-MM-dd HH:mm:ss')}"/>
                        </td>
                    </tr>
                </table>
                <p>
                    <input type="submit" class="button" value="提交"/>
                </p>
            </form>
        </div>
    </div>

</div>
</body>
</html>
