<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Update Student</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>
<div id="wrap" align="center">
    <div id="top_content">
        <div id="header">
            <div id="rightheader">
            <div id="topheader">
                <h1 id="title">
                    <a href="#">学生修改</a>
                </h1>
            </div>
            <div id="navigation">
            </div>
        </div>
        <div id="content">
            <p id="whereami">
            </p>
            <h1>
                请修改学生信息:
            </h1>
            <form th:action="@{/student/update}" method="post">
                <table cellpadding="0" cellspacing="0" border="0"
                       class="form_table">
                    <tr>
                        <td valign="middle" align="right">
                            学号:
                        </td>
                        <td valign="middle" align="left">
                            <span th:text="${student.studentId}"></span>
                            <input type="hidden" th:value="${student.studentId}" name="studentId">
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="right">
                            姓名:
                        </td>
                        <td valign="middle" align="left">
                            <input type="text" class="inputgri" name="name" th:value="${student.name}"/>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="right">
                            性别:
                        </td>
                        <td valign="middle" align="left">
                            <input type="text" class="inputgri" name="sex" th:value="${student.sex}"/>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="right">
                            班级:
                        </td>
                        <td valign="middle" align="left">
                            <input type="text" class="inputgri" name="studentClass" th:value="${student.studentClass}"/>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="right">
                            学院:
                        </td>
                        <td valign="middle" align="left">
                            <input type="text" class="inputgri" name="college" th:value="${student.college}"/>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="right">
                            寝室id:
                        </td>
                        <td valign="middle" align="left">
                            <input type="text" class="inputgri" name="dormitoryId" th:value="${student.dormitoryId}"/>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="right">
                            床位号:
                        </td>
                        <td valign="middle" align="left">
                            <input type="text" class="inputgri" name="bedNumber" th:value="${student.bedNumber}"/>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="right">
                            电话号码:
                        </td>
                        <td valign="middle" align="left">
                            <input type="text" class="inputgri" name="telephoneNumber" th:value="${student.telephoneNumber}"/>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="right">
                            邮箱:
                        </td>
                        <td valign="middle" align="left">
                            <input type="text" class="inputgri" name="email" th:value="${student.email}"/>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="right">
                            入住日期:
                        </td>
                        <td valign="middle" align="left">
                            <input type="text" class="inputgri" name="checkInDate" th:value="${#dates.format(student.checkInDate,'yyyy-MM-dd')}"/>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="right">
                            学籍状态:
                        </td>
                        <td valign="middle" align="left">
                            <input type="text" class="inputgri" name="status" th:value="${student.status}"/>
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="right">
                            登记时间:
                        </td>
                        <td valign="middle" align="left">
                            <input type="text" class="inputgri" name="recordTime"
                                   th:value="${#dates.format(student.recordTime,'yyyy-MM-dd HH:mm:ss')}"/>
                        </td>
                    </tr>
                </table>
                <p>
                    <input type="submit" class="button" value="提交"/>
                </p>
            </form>
        </div>
    </div>

</div>
</body>
</html>
